<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PH Archive</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1>PH Newspaper Archive</h1>
    <img src="{{ url_for('static', filename='images/pngwing.com.png') }}" alt="" class="center" style="display: block; margin: 0 auto;">
    <form action="/search" method="post">
        <div class="form-group">
            <input type="date" id="chosen_date" name="chosen_date">
        </div>
        <input type="text" id="keyword" name="keyword" placeholder="Search Keyword">
        <button class="btn-search" type="submit"></button>
    </form>
</body>
</html>
